USE [master]
GO
/****** Object:  Database [InlogCSharpTest]    Script Date: 16/04/2018 23:47:04 ******/
CREATE DATABASE [InlogCSharpTest] ON  PRIMARY 
( NAME = N'InlogCSharpTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\InlogCSharpTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InlogCSharpTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\InlogCSharpTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InlogCSharpTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InlogCSharpTest]
GO
USE [InlogCSharpTest]
GO
/****** Object:  Table [dbo].[Veiculo]    Script Date: 16/04/2018 23:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veiculo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Chassi] [varchar](17) NOT NULL,
	[Tipo] [int] NOT NULL,
	[Cor] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Veiculo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
